{% extends 'cliente/base.html' %}
{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}


<div class="card">
    <div class="card-body">
        <h2 class="text-center">Listado Productos Carrito</h2>
        <br>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Producto</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Valor</th>
                <th></th>
            </tr>
            {% for p in carritoproductos %}
            <tr>
                <td>{{p.idplato}}</td>
                <td>{{p.nom_plato}}</td>
                <td>{{p.cantidad}}</td>
                <td>{{p.valor_plato}}</td>
                <td>
                    <a href="{% url 'eliminar_item_carrito' p.id %}" class="btn btn-danger btn-round">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            </table>
    </div>
</div>







{% endblock %}