{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    <script src="{% static '/app/js/jquery.min.js' %}"></script>
    <link rel="icon" href="{% static 'app/img/icon.png' %}" />
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

    <title>OrderFood Delivery</title>
</head>


<div class="p-4 m-4">
    
    
    <div class="col-lg-5 mx-auto border rounded pt-4">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endif %}
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-success" role="alert">
                {{m}}
            </div>
            {% endfor %}
            {% endif %}
        <div class="card">
            <div class="card-body">
                <h2>Registro de usuario</h2>
                <br>
                <form action="" method="post">

                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre_cli" placeholder="Nombre" id=""
                        value="{{values.nombre_cli}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="apaterno_cli" placeholder="Apellido Paterno" id=""
                        value="{{values.apaterno_cli}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="amaterno_cli" placeholder="Apellido Materno" id=""
                        value="{{values.amaterno_cli}}">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="" name="fono_cli" placeholder="Teléfono" 
                        value="{{values.fono_cli}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="" name="email_cli" aria-describedby="email_cli"
                            value="{{values.email_cli}}" placeholder="Email, ejemplo: tobilius@gmail.com">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="" name="contraseña1" aria-describedby=""
                            placeholder="Ingresar Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="" name="contraseña2" aria-describedby=""
                            placeholder="Confirmar Contraseña">
                    </div>
                    <div class="d-flex justify-content-center">
                        ¿Desea regresar a la página principal?
                        <a class="" href="{% url 'home' %}">
                            &nbsp;
                            <span> Click Aquí</span>
                        </a>
                        <hr>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <br>
                        &nbsp;
                        <input type="reset" value="Limpiar" class="btn btn-dark btn-round">
                        &nbsp;
                        <input type="submit" value="Registrar" class="btn btn-success btn-round ">
                        <br>
                    </div>
                </form>
                {{mensaje}}

                
            </div>
        </div>
       
    </div>
 
</div>
</head>
</html>
