{% extends "base.html" %}
{% load static %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endif %}
            <div class="card-body">
                <h2>Registro de usuario</h2>
                <br>
                <form action="" method="post">

                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" name="nombre_cli" placeholder="Nombre" id=""
                            value="{{values.nombre_cli}}" onkeypress="return soloLetras(event)">
                    </div>
                    <div class="form-group">
                        <label for="">Apellido Paterno</label>
                        <input type="text" class="form-control" name="apaterno_cli" placeholder="Apellido Paterno" id=""
                            value="{{values.apaterno_cli}}" onkeypress="return soloLetras(event)">
                    </div>
                    <div class="form-group">
                        <label for="">Apellido Materno</label>
                        <input type="text" class="form-control" name="amaterno_cli" placeholder="Apellido Materno" id=""
                            value="{{values.amaterno_cli}}" onkeypress="return soloLetras(event)">
                    </div>
                    <div class="form-group">
                        <label for="">Celular</label>
                        <input type="number" class="form-control" id="" name="fono_cli" placeholder="Teléfono"
                            value="{{values.fono_cli}}" onkeypress="return valideKey(event);">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" id="" name="email_cli" aria-describedby="email_cli"
                            value="{{values.email_cli}}" placeholder="Email, ejemplo: tobilius@gmail.com">
                    </div>
                    <label for="">Contraseña</label>
                    <div class="input-group mb-3 border border">
                        <input type="password" class="form-control" id="password" name="contraseña1" aria-describedby=""
                            placeholder="Ingresar Contraseña">
                        <div class="input-group-append">
                            <span class="input-group-text bg-white border-0 " style="cursor: pointer;"><span
                                    class="iconify" data-icon="bi:eye-fill" data-inline="true"
                                    onclick="mostrarContrasena()"></span></span>
                        </div>
                    </div>

                    <label for="">Confirmar Contraseña</label>
                    <div class="input-group mb-3 border border">
                        <input type="password" class="form-control" id="password2" name="contraseña2"
                            aria-describedby="" placeholder="Confirmar Contraseña">
                        <div class="input-group-append">
                            <span class="input-group-text bg-white border-0 " style="cursor: pointer;"><span
                                    class="iconify" data-icon="bi:eye-fill" data-inline="true"
                                    onclick="mostrarContrasena2()"></span></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        ¿Desea regresar a la página principal?
                        <a class="" href="{% url 'home' %}">
                            &nbsp;
                            <span> Click Aquí</span>
                        </a>
                        <hr>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <br>
                        &nbsp;
                        <input type="reset" value="Limpiar" class="btn btn-dark btn-round">
                        &nbsp;
                        <input type="submit" value="Registrar" class="btn btn-primary btn-round ">
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
{% endblock %}