{% extends 'cliente/base.html' %}
{% block contenido %}
{% load static %}
{% load carro %}
{% load humanize %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    //Cuando la página esté cargada completamente
    $(document).ready(function () {
        //Cada 3 segundos se ejecutará la función refrescar
        setTimeout(refrescar, 3000);
    });
    function refrescar() {
        //Actualiza  el div con los datos de URL DE GOOGLE
        $("#mis-pedidos").load("http://127.0.0.1:8000/mis-pedidos");
    }
</script>
<div class="maincontent" id="mis-pedidos">
    <div class="container">
        <div class="modal-body">
            <table class="table table-image table-responsive">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Nro. Pedido</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Fecha del pedido</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedidos in pedidos %}
                    <tr id="results">
                        <td scope="row">{{pedidos.id_pedido}}</td>
                        <td><img class="rounded-circle" src="{{pedidos.plato_id.Imagen.url}}" alt=""
                                style="height: 60px; width: 80px;"></td>
                        <td>{{pedidos.plato_id.nom_plato}}</td>
                        <td>{{pedidos.fecha_pedido}}</td>
                        <td>$ {{pedidos.precio| intcomma}}</td>
                        <td>{{pedidos.cantidad}}</td>
                        <td>$ {{pedidos.cantidad|multiplicar:pedidos.precio| intcomma}}</td>
                        {% if pedidos.estado == 'Pendiente' %}
                        <td><small class="badge badge-danger">Pendiente</small></td>
                        {% elif pedidos.estado == 'Confirmado' %}
                        <td><small class="badge badge-warning">Confirmado</small></td>
                        {% elif pedidos.estado == 'En ruta' %}
                        <td><small class="badge badge-primary">En ruta</small></td>
                        {% else %}
                        <td><small class="badge badge-success">Entregado</small></td>
                        {% endif %}

                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>
    </div>
</div>
</div>



{% endblock %}