{% extends 'cliente/base.html' %}
{% block contenido %}
{% load static %}
{% load carro %}
{% load humanize %}
<br>
<br>
<div class="">
    <div class="container">
        <div class="row ">
            <div class="col">
                <div class="row d-none" id="mensajeSaldo">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            Saldo insuficiente para realizar el pago
                        </div>
                    </div>
                </div>
                <h2 class="text-center">Realizar pedido</h2>
                <hr>
                <form action="/pagar" method="post" name="form" id="form">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="">Tipo de entrega</label>
                        <select name="tipo_entrega" id="tipo_entrega" class="form-control" required
                            onclick="tipoEntregaIn(this);">
                            <option value="" selected>--- Seleccionar tipo de entrega ---</option>
                            <option value="Delivery">Delivery</option>
                            <option value="Retiro en local">Retiro en local</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Horario de entrega</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="ahora_horario">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Ahora mismo
                            </label>
                        </div>
                        <div class="form-check" data-toggle="modal" data-target="#cartModal">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Programar
                            </label>
                        </div>
                        <div class="modal fade bd-example-modal-sm" id="cartModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-bottom-0">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Elige un horario
                                        </h5>
                                        <hr>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input type="datetime-local" class="form-control"
                                                name="programar_horario_entrega" id="programar_horario_entrega">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Dirección</label>
                        <input type="text" class="form-control" placeholder="Tú dirección" name="direccion"
                            minlength="3" required id="clientAddress">
                    </div>
                    <div class="form-group">
                        <label for="">Tipo Pago</label>
                        <select name="tipo_pago" id="tipo_pago" class="form-control" required>
                            <option value="0" selected>--- Seleccionar tipo de pago ---</option>
                            {% for tipo_pago in tipo_pago %}
                            <option value="{{tipo_pago.id_pago}}">{{tipo_pago.tipo_pago}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" readonly class="form-control" name="saldo_cli" id="saldo_cli" value={{clienteeee.saldo_cli}}>
                        <input type="hidden" readonly class="form-control" name="totalpagar" id="totalpagar" value={{platos|precio_total_carro:request.session.carro}}>
                    </div>
                    <div class="form-group">
                        <label for="">Celular de contacto</label>
                        <input type="tel" class="form-control" name="celular_contacto" placeholder="" value="" required
                            minlength="7" maxlength="9" onkeypress="return valideKey(event);">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-round btn-block" id="btnEnviar" name="btnEnviar"
                            value="Pagar">
                    </div>
                </form>
            </div>
            <div class="">
                <div class="col">
                    <div class="">
                        <ul class="list-group">
                            <li class="list-group font-weight-bold" style="font-size: 22px;">Mi Saldo <span>
                                    {% if request.session.cuentaCliente %}
                                    ${{clienteeee.saldo_cli | intcomma}}
                                    {% endif %}
                                </span>
                            </li>
                        </ul>
                        <hr>

                        <h2 class="font-weight-bold">Tus platos</h2>
                        {% for platos_en_carro in platos_en_carro %}
                        <ul class="list-group">
                            <li class="list-group">Cantidad {{platos_en_carro|carro_quantity:request.session.carro}}
                            </li>
                            <li class="list-group">{{platos_en_carro.nom_plato}}</li>
                            <li class="list-group">{{platos_en_carro.descripcion}}</li>
                            <li class="list-group">$ {{platos_en_carro.valor_plato | intcomma}}</li>
                            <hr>
                        </ul>
                        {% endfor %}
                        <hr>
                        <!-- <div class="form-group" id="ocultarCostoEnvenio" style="display: none">
                            <label for="">Valor envio</label>
                            <input type="text" class="form-control" value="1.790">
                        </div> -->
                        <div class="form-group" id="ocultarCostoEnvenio" style="display: none">
                            <ul class="list-group" id="div-costo-envio" name="div-costo-envio" class="d-none">
                                <li class="list-group font-weight-bold" style="font-size: 22px;">Costo Env&iacute;o
                                    <span> $
                                        1.790</span>
                                </li>
                            </ul>
                        </div>

                        <ul class="list-group">
                            <li class="list-group font-weight-bold" style="font-size: 22px;">TOTAL A PAGAR <span>$
                                    {{platos|precio_total_carro:request.session.carro | intcomma}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<script>

    let combo = document.getElementById("tipo_pago");
    let btn = document.getElementById("btnEnviar");
    let saldo = document.getElementById("saldo_cli").value;
    let total = document.getElementById("totalpagar").value;

    var now = new Date();
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    document.getElementById('programar_horario_entrega').value = now.toISOString().slice(0,16);

    let validarForm = () =>{
        document.getElementById("mensajeSaldo").classList.add("d-none");
        if(combo.value == 0){
        btn.disabled = true;
        }else{
            btn.disabled = false;
        }
        if(combo.value == 3){
            if(parseInt(total) > parseInt(saldo)){
                btn.disabled = true;
                document.getElementById("mensajeSaldo").classList.remove("d-none");
            }else{
                btn.disabled = false;
                document.getElementById("mensajeSaldo").classList.add("d-none");
            }
        }
    }
    validarForm();

    combo.onchange = () =>{
        validarForm();
    }

</script>


<script>

    var now = new Date();
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    document.getElementById('programar_horario_entrega').value = now.toISOString().slice(0, 16);

    let validarForm = () => {
        document.getElementById("mensajeSaldo").classList.add("d-none");
        if (combo.value == 0) {
            btn.disabled = true;
        } else {
            btn.disabled = false;
        }
        if (combo.value == 3) {
            if (parseInt(total) > parseInt(saldo)) {
                btn.disabled = true;
                document.getElementById("mensajeSaldo").classList.remove("d-none");
            } else {
                btn.disabled = false;
                document.getElementById("mensajeSaldo").classList.add("d-none");
            }
        }
    }
    validarForm();

    combo.onchange = () => {
        validarForm();
    }
</script>

{% endblock %}