{% load static %}
{% load carro %}
{% load humanize %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9e06d751a2.js" crossorigin="anonymous"></script>
  <link rel="icon" href="{% static 'app/img/icon.png' %}" />
  <link rel="stylesheet" href="{% static 'app/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">
  <!-- Style -->
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  <!-- MAPA -->
  <link rel="stylesheet" href="{% static 'app/css/prueba.css' %}" />
  <!-- Bootstrap AZUL 4.5 CSS -->
  <!-- <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">  -->
</head>

<body style="padding: 0%;">

  <!--Sidebar-->

  <aside class="sidebar">
    <div class="toggle">
      <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span></span>
      </a>
    </div>
    <div class="side-inner">
      {% if request.session.cuentaAdmin or request.session.cuentaEncCocina or request.session.cuentaEncConvenio or request.session.cuentaRepartidor or request.session.cuentaCliente or request.session.cuentaCajero %}
      <div class="profile">
        <div class="list-group list-group-flush">
          {% if request.session.cuentaAdmin %}
          <div class="text-center">
            <img
              src="https://img2.freepng.es/20190615/spw/kisspng-portable-network-graphics-clip-art-transparency-co-ampquotvi-5d04edb65d7505.0993505515606040863828.jpg"
              alt="Image" class="img-fluid center" width="150" height="150">
          </div>
          <h3 class="name mb-4 text-center"> Administrador <span class="icon-check_circle verified"></span></h3>
          <a class="list-group-item text-center" href="/gestionar-repartidor">
            <i class="fa fa-motorcycle" aria-hidden="true"></i>
            <span class="links_name">Gestionar Repartidor</span>
          </a>
          <a class="list-group-item text-center" href="/gestionar-enc-cocina">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <span class="links_name">Gestionar Encargado Cocina</span>
          </a>
          <a class="list-group-item text-center" href="/gestionar-enc-convenio">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="links_name">Gestionar Encargado Convenio</span>
          </a>
          <a class="list-group-item text-center" href="/gestionar-cajero">
            <i class="fa fa-money" aria-hidden="true"></i>
            <span class="links_name">Gestionar Cajero</span>
          </a>
          <a class="list-group-item text-center" href="/listar-pedido/">
            <i class="fa fa-history" aria-hidden="true"></i>
            <span class="links_name">Historial de Pedidos</span>
          </a>
          <a class="list-group-item text-center" href="/editar-perfil">
            <i class="fas fa-edit"></i>
            <span class="links_name">Editar Perfil</span>
          </a>
          {% elif request.session.cuentaEncCocina %}
          <div class="text-center">
            <img
              src="https://w7.pngwing.com/pngs/944/713/png-transparent-%D0%9F%D0%B8%D0%B2%D0%BEfactory-beer-restaurant-computer-icons-cook-chef-icon-face-food-cook-thumbnail.png"
              alt="Image" class="img-fluid center" width="150" height="150">
          </div>
          <h3 class="name mb-4 text-center"> {{nombre}} <span class="icon-check_circle verified"></span></h3>
          <a class="list-group-item text-center" href="/gestionar-plato/">
            <i class="fas fa-hamburger"></i>
            <span class="links_name">Gestionar Plato</span>
          </a>
          <a class="list-group-item text-center" href="/listar-proveedor">
            <i class="fas fa-handshake"></i>
            <span class="links_name">Gestionar Proveedores</span>
          </a>
          <a class="list-group-item text-center" href="/restaurant">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <span class="links_name">Gestionar Restaurantes</span>
          </a>

          <a class="list-group-item text-center" href="/editar-perfil-enc-cocina">
            <i class="fas fa-edit"></i>
            <span class="links_name">Editar Perfil</span>
          </a>

          {% elif request.session.cuentaEncConvenio %}
          <div class="text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/320/320357.png" alt="Image" class="img-fluid center"
              width="150" height="150">
          </div>
          <h3 class="name mb-4 text-center"> {{nombre}} <span class="icon-check_circle verified"></span></h3>

          <a class="list-group-item text-center" href="/gestionar-empresa">
            <i class="fas fa-building"></i>
            <span class="links_name">Gestionar Empresas</span>
          </a>
          <a class="list-group-item text-center" href="/registrarsaldo">
            <i class="fas fa-hand-holding-usd"></i>
            <span class="links_name">Cargar Saldo</span>
          </a>
          <a class="list-group-item text-center" href="/editar-perfil-enc-convenio">
            <i class="fas fa-edit"></i>
            <span class="links_name">Editar Perfil</span>
          </a>

          {% elif request.session.cuentaRepartidor %}
          <div class="text-center">
            <img
              src="https://us.123rf.com/450wm/amin268/amin2681802/amin268180200253/95322215-repartidor-plano-icono-log%C3%ADstica-y-entrega-mensajer%C3%ADa-signo-vector-graphics-un-patr%C3%B3n-s%C3%B3lido-de-colo.jpg?ver=6"
              alt="Image" class="img-fluid center" width="150" height="150">
          </div>
          <h3 class="name mb-4 text-center"> {{nombre}} <span class="icon-check_circle verified"></span></h3>
          <a class="list-group-item text-center" href="/listar-pedidos-aceptados">
            <i class="fa fa-motorcycle"></i>
            <span class="links_name">Pedidos en Ruta</span>
          </a>
          <a class="list-group-item text-center" href="/editar-perfil-repartidor">
            <i class="fas fa-edit"></i>
            <span class="links_name">Editar Perfil</span>
          </a>
          {% elif request.session.cuentaCajero %}
          <div class="text-center">
            <img
              src="https://w7.pngwing.com/pngs/639/320/png-transparent-computer-icons-cashier-encapsulated-postscript-cashier-miscellaneous-company-retail-thumbnail.png"
              alt="Image" class="img-fluid center" width="150" height="150">
          </div>
          <h3 class="name mb-4 text-center"> {{nombre}} <span class="icon-check_circle verified"></span></h3>
          <a class="list-group-item text-center" href="/listar-pedidos-pendientes">
            <i class="fas fa-history"></i>
            <span class="links_name">Pedidos pendientes</span>
          </a>
          <a class="list-group-item text-center" href="/listar-pedidos-confirmados">
            <i class="fas fa-history"></i>
            <span class="links_name">Pedidos confirmados</span>
          </a>
          {% endif %}
          <a class="fa fa-sign-out btn btn-danger btn-block" style="display: block;" href="/logout"> Cerrar sesión</a>
        </div>
      </div>
      {% endif %}
  </aside>

  <div class="div-container" style="padding-bottom: 300px;">
    {% block contenido %}
    {% endblock %}
  </div>
</body>

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-dark text-white container-fluid">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Nuestras redes sociales:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a class="btn rounded-circle btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="icon-facebook"></i>
        </a>

        <!-- Twitter -->
        <a class="btn rounded-circle btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="icon-twitter"></i></a>

        <!-- Google -->
        <a class="btn rounded-circle btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="icon-google"></i>
        </a>

        <!-- Instagram -->
        <a class="btn rounded-circle btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="icon-instagram"></i>
        </a>

        <!-- Linkedin -->
        <a class="btn rounded-circle btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="iconify" data-icon="simple-icons:tiktok"></i>


          <!-- Github -->
          <a class="btn rounded-circle btn-outline-light btn-floating m-1" href="#!" role="button"><i
              class="icon-github"></i></a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>RNASSS.CL
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Información de contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">RNASSS.CL</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  </html>


  <!--SCRIPTS-->
  <!--solo numeros-->
  <script type="text/javascript">
    function valideKey(evt) {

      // code is the decimal ASCII representation of the pressed key.
      var code = (evt.which) ? evt.which : evt.keyCode;

      if (code == 8) { // backspace.
        return true;
      } else if (code >= 48 && code <= 57) { // is a number.
        return true;
      } else { // other keys.
        return false;
      }
    }
  </script>
  <!--solo letras-->
  <script>
    function soloLetras(e) {
      key = e.keyCode || e.which;
      tecla = String.fromCharCode(key).toLowerCase();
      letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
      especiales = [8, 37, 39, 46];

      tecla_especial = false
      for (var i in especiales) {
        if (key == especiales[i]) {
          tecla_especial = true;
          break;
        }
      }

      if (letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
    }
    function limpia() {
      var val = document.getElementById("miInput").value;
      var tam = val.length;
      for (i = 0; i < tam; i++) {
        if (!isNaN(val[i]))
          document.getElementById("miInput").value = '';
      }
    }
  </script>
  <script>
    AOS.init();
  </script>
  <script type="text/javascript">
    function openItems(category) {
      var i;
      var x = document.getElementsByClassName("items");
      if (category == 'All') {
        var display = 'block'
      }
      else {
        var display = 'none'
      }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = display;
      }

      if (category != 'All')
        document.getElementById(category).style.display = "block";

    }
    function highlightCategoryText(element) {
      all_elements = document.querySelectorAll(".list-group-item-hover");

      for (var i = 0; i < all_elements.length; i++) {
        all_elements[i].style.color = '#aeaeae'; // light gray
        // all_elements[i].style.boxShadow = ''; // light gray
      }

      element.style.color = '#ff9d2f'; //highlighted blue
      // element.style.boxShadow = "0 0 10px 2px rgba(0, 140, 186, 0.5)";
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{% static 'app/js/mycart.js' %}"></script>
  <script src="{% static 'app/js/mycart-custom.js' %}"></script>
  <script src="{% static 'app/js/js.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'app/js/custom-general.js' %}"></script>
  <script src="{% static 'app/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'app/js/popper.min.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'app/js/main.js' %}"></script>
  <script src="{% static 'app/js/jquery.min.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  <script src="{% static 'app/js/GPS.js' %}"></script>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq9u7UgsFdaDmz2I9RWJoAq2Cwy-YJxmE&libraries=places&region=cl&callback=initMap"
  async defer"></script>
  <script>
    function initMap() {
      var autocomplete = new google.maps.places.Autocomplete(
        document.getElementById("clientAddress"),
        {
          types: ['address'],
          componentRestrictions: {'country': ['cl']},
        })
      autocomplete.addListener('place_changed', function () {
        var place = autocomplete.getPlace();
        document.getElementById('location-snap').
          innerHTML = place.formatted_address;
        document.getElementById('lat-span').
          innerHTML = place.geometry.location.lat();
        document.getElementById('lon-span').
          innerHTML = place.geometry.location.lng();
      });
    }
  </script>
