{% extends 'trabajador/base_trabajador.html' %}
{% block contenido %}
{% load static %}

{% load crispy_forms_tags %}
<script>
    function eliminarEmpresa(rut_emp) {
        Swal.fire({
            "title": "¿Estas seguro?",
            "text": "esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#303030"


        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-empresa/?rut_emp="  + rut_emp + ""
                }
            })
    }
</script>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endif %}
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-success" role="alert">
                {{m}}
            </div>
            {% endfor %}
            {% endif %}

            <div class="card">
                <div class="card-body">
                    <h2>Agregar Empresa Convenio</h2>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data" class="form-enc-emp">
                        {% csrf_token %}
                        {{ form | crispy}}
                        <div class="d-flex justify-content-end">
                            <input type="submit" value="Guardar" class="btn btn-dark btn-round btn-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h2>Lista de Empresas en Convenio</h2>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <tr class="table-active">
                        <th>Rut Empresa</th>
                        <th>Nombre Empresa</th>
                        <th>Nombre Gerente</th>
                        <th>Cantidad Trabajadores</th>
                        <th>ID Encargado Convenio</th>
                        <th>Opciones</th>
                        <th>Opciones Trabajadores</th>

                    </tr>

                    {% for e in empresa %}
                    <tr class="table-light">
                        <td>{{ e.rut_emp | title }}</td>
                        <td>{{ e.nom_emp | title }}</td>
                        <td>{{ e.nom_gerente | title }}</td>
                        <td>{{ e.cant_trabajadores | title }}</td>
                        <td>{{ e.enc_convenio_id_enc_conv | title }}</td>
                        <td>
                            <a href="{% url 'modificar_convenio' e.rut_emp %}" class="btn btn-dark btn-sm">Modificar</a>
                            <a href="{% url 'eliminar-empresa' e.rut_emp %}"  class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                        <td>
                            <a href="{% url 'generar-cuenta-empleado'%}?rut_emp={{e.rut_emp}}" class="btn btn-dark btn-sm">Generar Cuenta</a>
                            <a href="{% url 'listar-cuentas-empleados'%}?rut_emp={{e.rut_emp}}" class="btn btn-dark btn-sm">Listar Cuentas</a>

                        </td>

                    </tr>



                    {% endfor %}
                </table>

            </div>
        </div>




    </div>
    {% endblock %}