{% extends "trabajador/base_trabajador.html" %}
{% block contenido %}
{% load static %}
<br>
<br>
<div class="row">
    <div class="col-lg-5  mx-auto col-md-6 offset-md-3">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success" role="alert">
            {{m}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h1>Editar datos Repartidor</h1>
                <hr>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="id_repartidor" placeholder="Rut" id=""
                            value="{{cuentaRepartidor.id_repartidor}}" readonly required maxlength="12">
                    </div>
                    <div class="form-group">
                        <label for="">Rut Repartidor</label>
                        <input type="text" class="form-control" name="rut_repartidor" placeholder="Rut" id=""
                            value="{{cuentaRepartidor.rut_repartidor}}" onkeyup="formatoRut(this)" maxlength="12">
                    </div>
                    <div class="form-group">
                        <label for="">Nombres</label>
                        <input type="text" class="form-control" name="nombre_repartidor" placeholder="Nombre" id=""
                            value="{{cuentaRepartidor.nombre_repartidor}}" onkeypress="return soloLetras(event)">
                    </div>
                    <div class="form-group">
                        <label for="">Apellidos</label>
                        <input type="text" class="form-control" id="" name="apellido_repartidor" aria-describedby=""
                            placeholder="Apellido" value="{{cuentaRepartidor.apellido_repartidor}}" onkeypress="return soloLetras(event)">
                    </div>
                    <div class="form-group">
                        <label for="">Celular de contacto</label>
                        <input type="number" class="form-control" id="" name="celular" aria-describedby=""
                            placeholder="celular ej: 912345678" value="{{cuentaRepartidor.celular}}" onkeypress="return valideKey(event);">
                    </div>
                    <div class="form-group">
                        <label for="">Email de trabajo</label>
                        <input type="email" class="form-control" id="" name="email_repartidor" aria-describedby=""
                            value="{{cuentaRepartidor.email_repartidor}}" placeholder="email ej: nombre@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="">Tipo de Vehiculo</label>
                        <select class="form-control" value="{{cuentaRepartidor.tipo_veh}}" name="tipo_veh" id="tipo_veh"
                            onclick="showInp(this);">
                            <option value="">--- Seleccionar Tipo de Vehículo ---</option>
                            {% if cuentaRepartidor.tipo_veh == "Auto" %}
                            <option value="Auto" selected>Auto</option>
                            {% else %}
                            <option value="Auto">Auto</option>
                            {% endif %}

                            {% if cuentaRepartidor.tipo_veh == "Bicicleta" %}
                            <option value="Bicicleta" selected>Bicicleta</option>
                            {% else %}
                            <option value="Bicicleta">Bicicleta</option>
                            {% endif %}

                            {% if cuentaRepartidor.tipo_veh == "Moto" %}
                            <option value="Moto" selected>Moto</option>
                            {% else %}
                            <option value="Moto">Moto</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" style="display: none" id="patente_veh_moto"
                            name="patente_veh_moto" value="{{cuentaRepartidor.patente_veh}}" maxlength="6"
                            onkeyup="formatoPatenteMoto(this);" placeholder="Patente de la Moto">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" style="display: none" id="patente_veh_auto"
                            name="patente_veh_auto" value="{{cuentaRepartidor.patente_veh}}" maxlength="8"
                            onkeyup="formatoPatenteAuto(this);" placeholder="Patente del Auto">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" style="display: none" id="bicicleta" name="bicicleta"
                            value="{{cuentaRepartidor.patente_veh}}" maxlength="1" placeholder="Bicicleta">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-dark btn-round btn-block" value="Editar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}