{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<div class="p-4 m-4">
    <div class="col-lg-5 mx-auto border rounded pt-4">
        <h1 class="text-center">Ingresa tus datos</h1>
        <br>
        <form action="" class="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <br>
            <input class="btn btn-dark btn-round btn-block" type="submit" value="Enviar">
        </form>
        {{mensaje}}
    </div>
</div>

{% endblock %}