{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<div class="block hero1 my-auto"
    style="background-image:url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);">
    <div class="container-fluid text-center">
        <h1 class="display-2 text-white" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0">El Comilon
        </h1>
        <p class="lead text-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">Las delicias de
            nuestra Carta a la comodidad de su Hogar</p>
        <a href="#menu" class="btn-text lead d-inline-block text-white border-top border-bottom mt-4 pt-1 pb-1"
            data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200">Visita Nuestro Menú</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="maincontent">
    <div class="container">
        <section id="menu">
            <div class="block menu1">
                <div class="form-group">
                    <div class="text-center">
                        <h2>Búsqueda de Plato</h2>
                    <hr>
                    </div>

                    <form class="d-flex mx-auto formBuscar" action=""  method="GET">
                        {{buscar_plato.form.nom_plato}}
                        {{buscar_plato.form.Restaurant}}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-round btn-block rounded" value="Buscar">
                            </div>
                    </form> 
                </div>
                <br>
                <br>

                <!-- <div class="buttons-container">
                    {% for r in rest %}
                        <a href="#" class="button button--is-active" data-target="pizzaMenu">{{r.nombre_rest}}</a>
                    {% endfor %}
                </div> -->
                
                {% for plato in platos %}
                    <form action = "agregar_carrito" method="POST">
                        {% csrf_token %}
                        <div class="menu menu--is-visible" id="pizzaMenu" data-aos="fade-up">
                            <div class="item row align-items-center">
                                <div class="col-{% load static %}sm-3 pr-5">
                                    {% if plato.Imagen %}
                                        <img src="{{ plato.Imagen.url }}" width="250px" height="200px" alt="Imagen Platos">
                                    {% endif %}
                                </div>
                                <div class="details col-sm-9">
                                    <div class="item__header">
                                        <h3 class="item__title">{{plato.nom_plato}}</h3>
                                        <span class="item__dots"></span>
                                        <span class="item__price">${{plato.valor_plato}}</span>
                                    </div>
                                    <p class="item__description">{{plato.descripcion}}</p>

                                    <input type="hidden" readonly id="idplato" name="idplato" value={{plato.id_plato}} />
                                    <input type="hidden" readonly id="cantidad" name="cantidad" value="1" />

                                    <button type="submit" id="carrito" class="btn btn-sm btn-outline-primary my-cart-btn" data-id={{plato.id_plato}}
                                        data-name={{plato.nom_plato}} data-price={{plato.valor_plato}} data-quantity="1"
                                        data-image="{{ plato.Imagen.url }}">Agregar al Carro</button>
                                </div>
                            </div>                    
                        </div> 
                    </form>               
                {% endfor %}            
            </div>
        </section>
    </div>
</div>
<div class="text-center">
    <a class="text-center btn btn-outline-dark" href="{% url 'proveedor' %}">¿Eres proveedor? ¡Click aca!</a>
</div>

{% endblock %}