{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<div class="p-4 m-4">
    <div class="col-lg-5 mx-auto border rounded pt-4">
        <h1>Editar datos Repartidor</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div> 
            {% endif %}
            {% if messages %}
                {% for m in messages  %}
                    <div class="alert alert-success" role="alert">
                        {{m}}
                    </div> 
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <input type="text" class="form-control" name="rut_repartidor" placeholder="Rut" id=""
                    value="{{values.rut_repartidor}}" maxlength="12" onkeyup="formatoRut(this)">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="nombre_repartidor" placeholder="Nombre" id=""
                    value="{{values.nombre_repartidor}}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="" name="apellido_repartidor" aria-describedby=""
                    placeholder="Apellido" value="{{values.apellido_repartidor}}">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="" name="celular" aria-describedby=""
                placeholder="celular ej: 912345678"  value="{{values.celular}}">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="" name="email_repartidor" aria-describedby=""
                    value="{{values.email_repartidor}}" placeholder="email ej: nombre@gmail.com">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="" name="patente_veh" aria-describedby=""
                    value="{{values.patente_veh}}" placeholder="Patente Vehiculo">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="" name="contraseña1" aria-describedby=""
                    placeholder="Ingresar Contraseña">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="" name="contraseña2" aria-describedby=""
                    placeholder="Confirmar Contraseña">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-dark btn-round btn-block" value="Editar">
            </div>
        </form>
    </div>
</div>

{% endblock %}