{% extends 'trabajador/base_trabajador.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-success" role="alert">
                {{m}}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h2>Agregar Restaurant</h2>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form | crispy}}

                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-dark btn-round btn-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h2>Lista de Platos</h2>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <tr class="table-active">
                        <th>Nombre del restaurant</th>
                        <th>Dirección</th>
                        <th>Opciones</th>

                    </tr>

                    {% for r in restaurantes %}

                    <tr class="table-light">
                        <td>{{r.nombre_rest | title}}</td>
                        <td>{{r.direccion_rest | title }}</td>
                        <td>
                            <a href="{% url 'modificar-restaurant'%}?id_restaurante={{r.id_restaurante}}"
                                class="btn btn-dark btn-sm">Modificar</a>
                            <a href="#" onclick="eliminarRestaurant({{r.id_restaurante}})"
                                class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>

                    {% endfor %}
                </table>

            </div>
        </div>

    </div>
</div>
<script>
    function eliminarRestaurant(id_restaurante) {
        Swal.fire({
            "title": "¿Estas seguro?",
            "text": "esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#303030"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'eliminar-restaurant' %}?id_restaurante=" + id_restaurante + ""
                }
            })
    }
</script>

    <iframe src="https://storage.googleapis.com/maps-solutions-mv0qwh3ixx/locator-plus/locator-plus.html"
  width="100%" height="100%"
  style="border:0;"
  loading="lazy">
</iframe>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime location tracker</title>

    <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="map"></div>
</body>
</html>

<!-- leaflet js  -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // Map initialization 
    var map = L.map('map').setView([14.0860746, 100.608406], 6);

    //osm layer
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);

    if(!navigator.geolocation) {
        console.log("Your browser doesn't support geolocation feature!")
    } else {
        setInterval(() => {
            navigator.geolocation.getCurrentPosition(getPosition)
        }, 5000);
    }

    var marker, circle;

    function getPosition(position){
        // console.log(position)
        var lat = position.coords.latitude
        var long = position.coords.longitude
        var accuracy = position.coords.accuracy

        if(marker) {
            map.removeLayer(marker)
        }

        if(circle) {
            map.removeLayer(circle)
        }

        marker = L.marker([lat, long])
        circle = L.circle([lat, long], {radius: accuracy})

        var featureGroup = L.featureGroup([marker, circle]).addTo(map)

        map.fitBounds(featureGroup.getBounds())

        console.log("Your coordinate is: Lat: "+ lat +" Long: "+ long+ " Accuracy: "+ accuracy)
    }

</script>
{% endblock %}