{% extends 'base_trabajador.html' %}
{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}
{% block js %}
<!--Delete Function-->
<script>
    function eliminarRestaurant(id_restaurante) {
        Swal.fire({
            "title": "¿Estas seguro?",
            "text": "esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#303030"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'eliminar-restaurant' %}?id_restaurante=" + id_restaurante+ ""
                }
            })
    }
</script>
{% endblock %}

<br>
<br>
<br>
<div class="row">
    <div class="card-body">
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success text-center" role="alert">
            {{m}}
        </div>
        {% endfor %}
        {% endif %}
        <h2 class="text-center">Restaurantes</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr class="table-active">
                <th>Nombre del restaurant</th>
                <th>Dirección</th>
                <th>Comuna</th>
                <th>Imagen</th>
                <th>Opciones</th>

            </tr>

            {% for r in restaurantes %}

            <tr class="table-light">
                <td>{{r.nombre_rest | title}}</td>
                <td>{{r.direccion_rest | title }}</td>
                <td>{{r.comuna_rest | title }}</td>
                <td>
                    <a href="{% url 'modificar-restaurant'%}?id_restaurante={{r.id_restaurante}}"
                        class="btn btn-dark btn-sm">Modificar</a>
                    <a href="#" onclick="eliminarRestaurant({{r.id_restaurante}})"
                        class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}