<!-- añadir Empresas
    renovar convenios
    guardar informacion -->
    {% extends 'base.html' %}
    {% block contenido %}
    {% load crispy_forms_tags %}
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h2>Agregar Empresa Convenio</h2>
                        <hr>
                    </div>
    
                    <form action="" method="post" enctype="multipart/form-data" class="form-enc-emp">
    
                        {% csrf_token %}
    
                        {{ form | crispy}}
    
                        <div class="d-flex justify-content-end">
                            <input type="submit" value="Cancelar" class="btn btn-secondary">
                            &nbsp;
                            <input type="submit" value="Guardar" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}