{% extends 'base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<br><br>
<div class="card">
    <div class="card-body">
        <h2>
            Lista de Empresas Afiliadas
        </h2>
        <hr>
        <table class="table table-striped table-hoved table-responsive-sm">
            <tr>
                <th>Rut Empresa</th>
                <th>Nombre Empresa</th>
                <th>Nombre Gerente</th>
                <th>Cantidad Trabajadores</th>
                <th>ID Encargado Convenio</th>
                <th>Desactivar Convenio</th>
            </tr>

            {% for e in empresa %}
            


            <tr>
                <td>{{ e.rut_emp | title }}</td>
                <td>{{ e.nom_emp | title }}</td>
                <td>{{ e.nom_gerente | title }}</td>
                <td>{{ e.cant_trabajadores | title }}</td>
                <td>{{ e.enc_convenio_id_enc_conv | title }}</td>
                <td>
                    <a href="{% url 'modificar_convenio' e.rut_emp %}" class="btn btn-info btn-sm">Modificar</a>
                    <a href="{% url 'eliminar_empresa' e.rut_emp %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
                
            </tr>


        
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}