{% extends "base.html" %}
{% load static %}
{% block contenido %}
<br>
<br>

<div class="p-4 m-4">

    <div class="col-lg-5 mx-auto border rounded pt-4">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success" role="alert">
            {{m}}
        </div>
        {% endfor %}
        {% endif %}
        <h2>Editar mis datos</h2>
        <div class="">
            <div class="card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre_adm" placeholder="Nombre"
                            value="{{data.nombre_adm}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="apat_adm" placeholder="Apellido Paterno"
                            value="{{data.apat_adm}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="amat_adm" placeholder="Apellido Materno"
                            value="{{data.amat_adm}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email_admin" placeholder="Email"
                            value="{{data.email_admin}}">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="fono_admin" placeholder="Fono de contacto"
                            value="{{data.fono_admin}}">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-round btn-block" value="Editar">
                    </div>
                </form>
            </div>
        </div> 
    </div>

</div>

{% endblock %}