{% extends 'trabajador/base_trabajador.html' %}
{% load static %}
{% block contenido %}
{% load humanize %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row ">

        <div class="table table-striped table-hover table-responsive-xl">
            <h2 class="text-center"> Listado de Saldo(s) Cargado(s) de Cliente(s)</h2>

            <table class="table table-hover table-responsive-xl">
                <tr class="table-active">
                    <th>Rut Empresa</th>
                    <th>Nombre Persona</th>
                    <th>Saldo Actual</th>
                    <th>Saldo a Cargar</th>
                    <th>Saldo Final</th>
                </tr>
                {% for p in saldos %}
                <tr class="table-light">
                    <td>{{p.rut_empresa}}</td>
                    <td>{{p.nombre }} {{p.paterno }} {{p.materno }}</td>
                    <td>${{p.saldoactual | intcomma}}</td>
                    <td>${{p.saldo | intcomma}}</td>
                    <td>${{p.saldonuevo | intcomma}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>



    {% endblock %}