{% extends 'trabajador/base_trabajador.html' %}
{% load static %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Listado de Saldo(s) Cargado(s) de Cliente(s).
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-hover table-responsive-sm">
                                    <tr>
                                        
                                        <th>Nombre Persona</th>
                                        <th>Saldo Actual</th>
                                        <th>Saldo a Cargar</th>
                                        <th>Saldo Final</th>
                                    </tr>
                                    {% for p in saldos %}
                                    <tr>
                                        
                                        <td>{{p.nombre }} {{p.paterno }} {{p.materno }}</td>
                                        <td>{{p.saldoactual}}</td>
                                        <td>{{p.saldo}}</td>
                                        <td>{{p.saldonuevo}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>                            
                    </div>
                  </div>

            </div>
        </div>
    </div>

</body>
</html>

{% endblock %}