{% extends 'base.html' %}
{% load static %}
{% block contenido %}

{% load crispy_forms_tags %} 


      

<div class="p-4 m-4">
    
    
    <div class="col-lg-5 mx-auto border rounded pt-4">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endif %}
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-success" role="alert">
                {{m}}
            </div>
            {% endfor %}
            {% endif %}
        <div class="card">
            <div class="card-body">
                <h2>Registro de usuario</h2>
                <form action="" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" class="form-control" name="id_cliente" placeholder="ID Cliente" style="display: none;" id="" 
                        value="{{values.id_cliente}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="rut_cli" placeholder="Rut" id=""
                        value="{{values.rut_cli}}">                       
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre_cli" placeholder="Nombre" id=""
                        value="{{values.nombre_cli}}">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="" name="fono_cli" placeholder="Teléfono" 
                        value="{{values.fono_cli}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="" name="email_cli" aria-describedby="email_cli"
                            value="{{values.email_cli}}" placeholder="Email, ejemplo: tobilius@gmail.com">
                    </div>
                    
                    <div>
                        <input type="number" class="form-control" name="saldo_cli" placeholder="Saldo" id=""
                        style="display: none;">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="direccion_cliente" placeholder="Dirección" id=""
                        value="{{values.direccion_cliente}}">
                    </div>
                    
                    <div class="form-group">    
                        <input type="text" class="form-control" name="convenio" placeholder="Convenio" id=""
                        style="display: none;">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="" name="contraseña1" aria-describedby=""
                            placeholder="Ingresar Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="" name="contraseña2" aria-describedby=""
                            placeholder="Confirmar Contraseña">
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="reset" value="Cancelar" class="btn btn-dark btn-round">
                        &nbsp;
                        <input type="submit" value="Registrar" class="btn btn-success btn-round ">
                        <br>
                    </div>
                </form>
                {{mensaje}}

                
            </div>
        </div>
       
    </div>

</div>


{% endblock %}