{% extends 'trabajador/base_trabajador.html' %}
{% block contenido %}
{% load static %}
{% if request.session.cuentaCajero %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="table table-striped table-hover table-responsive-xl">

            <h2 class="text-center">Lista de Pedidos Pendientes</h2>
            <div class="btm-group">
                <a href="{% url 'listar-pedidos-confirmados' %}" class="btn btn-dark btn-sm" style="float: right;">Ver
                    Pedidos Confirmados</a>
                <br>
            </div>

            <br>
            <div>
                <table class="table table-hover table-responsive-xl">
                    <tr class="table-active">
                        <th>ID Pedido</th>
                        <th>Estado</th>
                        <th>Nombre Cliente</th>
                        <th>Fecha Pedido</th>
                        <th>Direccion</th>
                        <th>Horario Entrega</th>
                        <th>Tipo Entrega</th>
                        <th>Tipo Pago</th>
                        <th>Opciones</th>
                    </tr>
                    {% for n in pedidos_pendientes %}
                    <tr class="table-light">
                        <td>{{ n.id_pedido | title }}</td>
                        <td>{{ n.estado | title }}</td>
                        <td>{{ n.cliente_id | title }}</td>
                        <td>{{ n.fecha_pedido | title }}</td>
                        <td>{{ n.direccion | title }}</td>
                        <td>{{ n.horario_entrega | title }}</td>
                        <td>{{ n.tipo_entrega | title }}</td>
                        <td>{{ n.tipo_pago | title }}</td>

                        <td>
                            <form action="{% url 'confirmar-pedido' n.id_pedido %}" method="GET">
                                <input type="submit" name="confirmar" style="width: 80px" class="btn btn-success btn-sm"
                                    value="Confirmar" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
            <br>
            <hr>
            <br>
            <div class="">
                <h2 class="text-center">Lista de Repartidores</h2>
                <div class="">
                    <table class="table table-hover table-responsive-xl">
                        <tr class="table-active">
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Patente Vehiculo</th>
                            <th>Tipo Vehiculo</th>
                            <th>Celular</th>
                        </tr>

                        {% for repartidores_disponibles in repartidores_disponibles %}
                        <tr class="table-light">
                            <td>{{repartidores_disponibles.rut_repartidor}}</td>
                            <td>{{repartidores_disponibles.nombre_repartidor}}</td>
                            <td>{{repartidores_disponibles.apellido_repartidor}}</td>
                            <td>{{repartidores_disponibles.email_repartidor}}</td>
                            <td>{{repartidores_disponibles.tipo_veh}}</td>
                            <td>{{repartidores_disponibles.patente_veh}}</td>
                            <td>{{repartidores_disponibles.celular}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>




        </div>
    </div>
</div>

{% endif %}
{% endblock %}