{% extends 'trabajador/base_trabajador.html' %}
{% block contenido %}
{% load static %}
{% if request.session.cuentaAdmin or request.session.cuentaEncCocina or request.session.cuentaEncConvenio or request.session.cuentaRepartidor or request.session.cuentaCliente or request.session.cuentaCajero %}
<div class="container-fluid">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2>Lista de Pedidos Pendientes</h2>
        <a href="{% url 'listar-pedidos-confirmados' %}" class="btn btn-dark btn-sm">Ver Pedidos Confirmados</a>
        <br>
        <div>
            <table class="table table-hover table-responsive-xl">
                <tr class="table-active">
                    <th>ID Pedido</th>
                    <th>Estado</th>
                    <th>Nombre Cliente</th>
                    <th>Fecha Pedido</th>
                    <th>Direccion</th>
                    <th>Horario Entrega</th>
                    <th>Tipo Entrega</th>
                    <th>Tipo Pago</th>
                    <th>Opciones</th>
                </tr>
                {% for n in pedidos_pendientes %}
                <tr class="table-light">
                    <td>{{ n.id_pedido | title }}</td>
                    <td>{{ n.estado | title }}</td>
                    <td>{{ n.nombre_cli | title }}</td>
                    <td>{{ n.fecha_pedido | title }}</td>
                    <td>{{ n.direccion | title }}</td>
                    <td>{{ n.horario_entrega | title }}</td>
                    <td>{{ n.tipo_entrega | title }}</td>
                    <td>{{ n.tipo_pago | title }}</td>
                    
                    <td> 
                        <form action="{% url 'confirmar-pedido' n.id_pedido %}" method="GET">
                            <input type="submit" name="confirmar" style="width: 80px" class="btn btn-success btn-sm" value="Confirmar"/>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h2>Lista de Repartidores</h2>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <tr class="table-active">
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Patente Vehiculo</th>
                        <th>Tipo Vehiculo</th>
                        <th>Celular</th>
                    </tr>

                    {% for repartidores_disponibles in repartidores_disponibles %}
                    <tr class="table-light">
                        <th>{{repartidores_disponibles.rut_repartidor}}</th>
                        <th>{{repartidores_disponibles.nombre_repartidor}}</th>
                        <th>{{repartidores_disponibles.apellido_repartidor}}</th>
                        <th>{{repartidores_disponibles.email_repartidor}}</th>
                        <th>{{repartidores_disponibles.tipo_veh}}</th>
                        <th>{{repartidores_disponibles.patente_veh}}</th>
                        <th>{{repartidores_disponibles.celular}}</th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
</div>
{% endif %}
{% endblock %}