{% load static %}
{% load carro %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="{% static 'app/img/icon.png' %}" />
    <link rel="stylesheet" href="{% static 'app/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">
    <!-- Style -->
    <script src="https://kit.fontawesome.com/9e06d751a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    <!-- Bootstrap AZUL 4.5 CSS -->
    <!-- <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">  -->
</head>

<body>

<div class="container text-center" style="padding: 2%;">
    <span>
        <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/app/img/logo.png" style="width: 50%;"></a>
    </span>
    <h2>Página para ejecutar pago por webpay</h2>
    <br>
    <form action="{{ response.url }}" method="POST">
        <a href="{{request.META.HTTP_REFERER}}" style="margin-right: 30px;">Volver</a>
        {% csrf_token %}
        <input type="hidden" name="token_ws" value="{{ response.token }}">
        <input type="submit" class="btn btn-primary border rounded" value="Ejecutar Pago">

    </form>
    <br>
</div>
</body>

</html>