{% extends 'trabajador/base_trabajador.html' %}
{% block contenido %}
{% load static %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="table table-striped table-hover table-responsive-xl">
        <!-- <a href="{% url 'incio_trabajador'%}" style="margin-right: 30px;" class="btn btn-dark btn-sm">Inicio</a> -->
        <h2 class="">Lista de Pedidos Activos</h2>
        <div>
            <table class="table table-hover table-responsive-xl">
                <tr class="table-active">
                    <th>Fecha Pedido</th>
                    <th>Nombre Restaurant</th>
                    <th>Dirección Restaurant</th>
                    <th>Nombre Cliente</th>
                    <th>Horario Entrega</th>
                    <th>Tipo Entrega</th>
                    <th>Tipo Pago</th>
                    <th>Opciones</th>
                </tr>
                {% for p in pedidos_confirmados %}
                <tr class="table-light">
                    <td>{{ p.fecha_pedido | title }}</td>
                    <td>{{ p.restaurant_id_restaurante}}</td>
                    <td>{{ p.restaurant_id_restaurante.direccion_rest}}</td>
                    <td>{{ p.cliente_id | title }}</td>
                    <td>{{ p.horario_entrega | title }}</td>
                    <td>{{ p.tipo_entrega | title }}</td>
                    <td>{{ p.tipo_pago | title }}</td>
                    <td>
                        <form action="{% url 'aceptar-pedido' p.id_pedido %}" method="GET">
                            <input type="submit" name="aceptar" style="width: 80px" class="btn btn-success btn-sm"
                                value="Aceptar" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}