{% extends 'base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<br><br>
<div class="card">
    <div class="card-body">
        <h2>
            Lista De Platos
        </h2>
        <hr>
        <table class="table table-striped table-hoved table-responsive-sm">
            <tr>
                <th>Nombre Plato</th>
                <th>Valor Plato</th>
                <th>Descripción</th>
                <th>Opciónes</th>
            </tr>
            {% for p in plato %}
        
            <tr>
                <td> {{ p.nom_plato | title }} </td>
                <td> $ {{ p.valor_plato }} </td>
                <td> {{ p.descripcion | title }} </td>

                <td>
                    
                    <a href="{% url 'modificar_plato' p.id_plato %}" class="btn btn-info btn-sm">Modificar</a>
                    <a href="{% url 'eliminar_plato' p.id_plato %}" class="btn btn-danger btn-sm">Eliminar</a>
                    
                </td>
            </tr>
        
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}