{% extends 'trabajador/base_trabajador.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-success" role="alert">
                {{m}}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h2>Agregar Plato</h2>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form | crispy}}

                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-dark btn-round btn-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h2>Lista de Platos</h2>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <tr class="table-active">
                        <th>Nombre Plato</th>
                        <th>Valor Plato</th>
                        <th>Descripción</th>
                        <!-- <th>Ingredientes</th> -->
                        <th>Opciónes</th>

                    </tr>

                    {% for p in plato %}
                    <tr class="table-light">
                        <td> {{ p.nom_plato | title }} </td>
                        <td> $ {{ p.valor_plato }} </td>
                        <td> {{ p.descripcion | title }} </td>
                        <!-- <td> {{ p.Ingrediente | title }} </td> -->

                        <td>
                            <a href="{% url 'modificar_plato'%}?id_plato={{p.id_plato}} "
                                class="btn btn-dark btn-sm">Modificar</a>
                            <a href="#" onclick="eliminarPlato({{p.id_plato}})"
                                class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>

    </div>
</div>

<script>
    function eliminarPlato(id_plato) {
        Swal.fire({
            "title": "¿Estas seguro?",
            "text": "esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#303030"


        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-plato/?id_plato=" + id_plato + ""
                }
            })
    }
</script>

{% endblock %}