{% extends "base_trabajador.html" %}
{% block contenido %}
{% load static %}
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5  mx-auto col-md-6 offset-md-3">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endif %}
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-success" role="alert">
                {{m}}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h2>Editar datos Encargado Cocina</h2>
                    <hr>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <!-- <div class="form-group">
                <input type="hidden" class="form-control" name="id_enc_coc" placeholder="" id=""
                    value="{{cuentaEncCocina.id_enc_coc}}" readonly required maxlength="12">
            </div> -->
                        <div class="form-group">
                            <Label>Nombre Completo</Label>
                            <input type="text" class="form-control" name="nom_enc_coc" placeholder="Nombre Completo"
                                id="" value="{{cuentaEncCocina.nom_enc_coc}}" onkeypress="return soloLetras(event)">
                        </div>
                        <div class="form-group">
                            <label for="">Título que poseé</label>
                            <select class="form-control" id="validationCustom04" name="titulo" required value="">
                                <option value="">--- Seleccionar Tipo de Titulo ---</option>
                                {% if cuentaEncCocina.titulo == "Tecnico" %}
                                <option value="Tecnico" selected>Técnico</option>
                                {% else %}
                                <option value="Tecnico">Técnico</option>
                                {% endif %}

                                {% if cuentaEncCocina.titulo == "Profesional" %}
                                <option value="Profesional" selected>Profesional</option>
                                {% else %}
                                <option value="Profesional">Profesional</option>
                                {% endif %}

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Experiencia Laboral</label>
                            <input type="number" class="form-control" id="" name="exp_laboral" aria-describedby=""
                                placeholder="Experiencia laboral en años" value="{{cuentaEncCocina.exp_laboral}}" onkeypress="return valideKey(event);">
                        </div>
                        <div class="form-group">
                            <Label>Telefono/Celular de contacto</Label>
                            <input type="number" class="form-control" id="" name="celular" aria-describedby=""
                                placeholder="912345678" value="{{cuentaEncCocina.celular}}" onkeypress="return valideKey(event);">
                        </div>
                        <div class="form-group">
                            <label for="">Email de trabajo</label>
                            <input type="email" class="form-control" id="" name="email_enc_coc"
                                aria-describedby="email_enc_cocina" value="{{cuentaEncCocina.email_enc_coc}}"
                                placeholder="ejemplo: encargadococina@dominio.com">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-dark btn-round btn-block" value="Editar">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}