{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-5  mx-auto col-md-6 offset-md-3">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success" role="alert">
            {{m}}
        </div>
        {% endfor %}
        {% endif %}

        <div class="card">
            <div class="card-body">
                <h2>Editar datos Encargado Convenio</h2>
                <hr>
                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="form-group">
                        <input readonly required type="hidden" class="form-control" name="id_enc_conv" placeholder=""
                            id="" value="{{cuentaEncConvenio.id_enc_conv}}" maxlength="12">
                    </div>
                    <div class="form-group">
                        <label for="">Rut</label>
                        <input type="text" class="form-control" name="rut_enc_conv" placeholder="Rut" id=""
                            value="{{cuentaEncConvenio.rut_enc_conv}}" maxlength="12" onkeyup="formatoRut(this)">
                    </div>
                    <div class="form-group">
                        <label for="">Nombres</label>
                        <input type="text" class="form-control" id="" name="nom_enc_conv" aria-describedby=""
                            placeholder="Nombres" value="{{cuentaEncConvenio.nom_enc_conv}}" onkeypress="return soloLetras(event)">
                    </div>
                    <div class="form-group">
                        <label for="">Apellidos</label>
                        <input type="text" class="form-control" id="" name="ap_enc_conv" aria-describedby=""
                            placeholder="Apellidos" value="{{cuentaEncConvenio.ap_enc_conv}}" onkeypress="return soloLetras(event)">
                    </div>
                    <div class="form-group">
                        <label for="">Email de trabajo</label>
                        <input type="email" class="form-control" id="" name="email_enc_conv" aria-describedby=""
                            value="{{cuentaEncConvenio.email_enc_conv}}"
                            placeholder="ejemplo: encargadoConvenio@dominio.com">
                    </div>
                    <div class="form-group">
                        <label for="">Telefono/Celular de contacto</label>
                        <input type="number" class="form-control" id="" name="celular" aria-describedby=""
                            value="{{cuentaEncConvenio.celular}}" placeholder="Celular ej: 912345678" onkeypress="return valideKey(event);">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-dark btn-round btn-block" value="Editar">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}